VITE_RESOURCE_BASE_URL=
VITE_RESOURCE_INTERCITY_BASE_URL=
VITE_APN2HB_RESOURCE_URL=

VITE_INDEX_BLOG_LINK=
VITE_INDEX_AUTHOR_LINK=
VITE_INDEX_FORM_LINK=

VITE_ONEDRIVE_CLIENT_ID=
VITE_ONEDRIVE_REDIRECT_URI=
VITE_ONEDRIVE_SCOPE=Files.Read.All
VITE_ONEDRIVE_FOLDER_PATH=broadcast
VITE_ONEDRIVE_AUTH_BASE_URL=https://login.microsoftonline.com/common/oauth2/v2.0/authorize
VITE_ONEDRIVE_GRAPH_BASE_URL=https://graph.microsoft.com/v1.0
